<div class="center-container">
    <div class="center-grid">
        <app-figure 
        imgSrc="assets/images/static/ability_mount_ridinghorse.jpg" 
        size="150px" 
        borderWidth="5px" 
        borderRadius="15px">
        </app-figure>
        
        <app-figure 
        imgSrc="assets/images/static/inv_prairiedog_brown.jpg" 
        size="150px" 
        borderWidth="5px" 
        borderRadius="15px">
        </app-figure>

        <app-figure 
        imgSrc="assets/images/static/inv_belt_18.jpg" 
        size="150px" 
        borderWidth="5px" 
        borderRadius="15px">
        </app-figure>

        <app-figure 
        imgSrc="assets/images/static/inv_hammer_07.jpg" 
        size="150px" 
        borderWidth="5px" 
        borderRadius="15px">
        </app-figure>
    </div>
</div>
